<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../public/sass/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>
    <nav>
        <div class="nav_container">

            <div class="nav_container-desc" style="background-color: #211050;">
                <div class="nav_container-desc-img" >
                    <img class="img" src="/public/img/pp.jpg" alt="">
                </div>
                <div class="nav_container-desc-name">
                   <a href="/views/home.html"> <p>Bogdan Stama</p> </a>
                </div>
            </div>

            <div class="nav_container-list">
                <ul class="list-item">
                    <li id="lista" class="active" style="background-color: #1F104A;"><a href="/views/about.html">About</a> </li>
                    <li id="lista"><a href="/views/skills.html">My Skills</a> </li>
                    <li id="lista"><a href="/views/projects.html">Projects</a> </li>
                    <li id="lista"><a href="#">Contact</a> </li> 
                </ul>
            </div>

            <div class="nav_container-contact" >
                <a href="https://www.facebook.com/bogdan.stama"> <i class="fab fa-facebook"></i> </a>
                <a href="https://www.instagram.com/bogdanstm/"> <i class="fab fa-instagram"></i> </a>
                <a href="https://github.com/BogdanStm"> <i class="fab fa-github"></i> </a>
            </div>

        </div>
    </nav>

    <header>
        <div class="text-box">
            <h1 class="heading-primary">
                <span class="heading-primary-main">Hello</span>
                <span class="heading-primary-sub">My name is Stama Bogdan-Alexandru-Ionut</span>
                <span class="heading-primary-try">Am 21 de ani, sunt absolvent al facultatii de Litere si Stiinte din cadrul Universitatii de Petrol si Gaze din Ploiesti, specializarea Informatica.<br> Inca din timpul facultatii am fost pasionat de domeniul dezvoltarii Web, facand pe parcursul acesteia mai multe cursuri si proiecte din acest domeniu.<br> Dupa cele 4 joburi pe care le-am avut pana in momentul actual am observat ca sunt o persoana organizata, determinata si serioasa.<br> Prefer ca in timplul meu liber sa ma plimb cu masina, acest lucru fiind un mod de a ma relaxa.<br><br><br> <div class="cv"><a href="https://europa.eu/europass/eportfolio/api/eprofile/shared-profile/164c8404-5523-46a0-aa08-e3fff7d7c39e?view=html">CV</a> </div> </span>
            </h1>
            
    </header>
</body>
</html>