<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stama Bogdan</title>
    <link rel="stylesheet" href="../public/sass/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>
    <nav>
        <div class="nav_container">

            <div class="nav_container-desc">
                <div class="nav_container-desc-img">
                    <img class="img" src="/public/img/pp.jpg" alt="">
                </div>
                <div class="nav_container-desc-name">
                  <a href="/views/home.html"> <p>Bogdan Stama</p> </a> 
                </div>
            </div>

            <div class="nav_container-list">
                <ul class="list-item">
                    <li id="lista"><a href="/views/about.html">About</a> </li>
                    <li id="lista"><a href="/views/skills.html">My Skills</a> </li>
                    <li id="lista"><a href="/views/projects.html">Projects</a> </li>
                    <li id="lista"><a href="#">Contact</a> </li>
                </ul>
            </div>

            <div class="nav_container-contact" >
                <a href="https://www.facebook.com/bogdan.stama"> <i class="fab fa-facebook"></i> </a>
                <a href="https://www.instagram.com/bogdanstm/"> <i class="fab fa-instagram"></i> </a>
                <a href="https://github.com/BogdanStm"> <i class="fab fa-github"></i> </a>
            </div>

        </div>
    </nav>
    <section>
        <div class="text-box">
            <h1 class="heading-primary">
                <span class="heading-primary-main">Hello, I'm</span>
                <span class="heading-primary-sub">Bogdan Stama</span>
                <span class="heading-primary-try">AND THIS IS MY PORTOFOLIO WEBSITE</span>
            </h1>
        </div>
    </section>
</body>
</html>