<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="../public/sass/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>
    <nav>
        <div class="nav_container">

            <div class="nav_container-desc" style="background-color: #3C1B5F;">
                <div class="nav_container-desc-img">
                    <img class="img" src="/public/img/pp.jpg" alt="">
                </div>
                <div class="nav_container-desc-name">
                  <a href="/views/home.html"> <p>Bogdan Stama</p> </a> 
                </div>
            </div>

            <div class="nav_container-list">
                <ul class="list-item">
                    <li id="lista"><a href="/views/about.html">About</a> </li>
                    <li id="lista" style="background-color: #260F4B;"><a href="/views/skills.html" >My Skills</a> </li>
                    <li id="lista"><a href="/views/projects.html">Projects</a> </li>
                    <li id="lista"><a href="#">Contact</a> </li>
                </ul>
            </div>

            <div class="nav_container-contact" >
                <a href="https://www.facebook.com/bogdan.stama"> <i class="fab fa-facebook"></i> </a>
                <a href="https://www.instagram.com/bogdanstm/"> <i class="fab fa-instagram"></i> </a>
                <a href="https://github.com/BogdanStm"> <i class="fab fa-github"></i> </a>
            </div>

        </div>
    </nav>

    <section class="mh-skills" id="mh-skills">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="mh-skills-inner">
                        <div class="mh-professional-skill">
                            <h3>Skills</h3>
                            <div class="each-skills">
                                <div class="candidatos">
                                    <div class="parcial">
                                        <div class="info">
                                            <div class="name">HTML</div>
                                            <div class="percentage-naum">95%</div>
                                        </div>
                                        <div class="progressBar" > 
                                            <div class="percentagem" style="width: 95%;"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="candidatos">
                                    <div class="parcial">
                                        <div class="info">
                                            <div class="name">CSS</div>
                                            <div class="percentage-naum">70%</div>
                                        </div>
                                        <div class="progressBar" > 
                                            <div class="percentagem" style="width: 70%;"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="candidatos">
                                    <div class="parcial">
                                        <div class="info">
                                            <div class="name">SASS</div>
                                            <div class="percentage-naum">60%</div>
                                        </div>
                                        <div class="progressBar" > 
                                            <div class="percentagem" style="width: 60%;"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="candidatos">
                                    <div class="parcial">
                                        <div class="info">
                                            <div class="name">JavaScript</div>
                                            <div class="percentage-naum">20%</div>
                                        </div>
                                        <div class="progressBar" > 
                                            <div class="percentagem" style="width: 20%;"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="candidatos">
                                    <div class="parcial">
                                        <div class="info">
                                            <div class="name">PHP</div>
                                            <div class="percentage-naum">70%</div>
                                        </div>
                                        <div class="progressBar" > 
                                            <div class="percentagem" style="width: 70%;"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="candidatos">
                                    <div class="parcial">
                                        <div class="info">
                                            <div class="name">MySQL</div>
                                            <div class="percentage-naum">85%</div>
                                        </div>
                                        <div class="progressBar" > 
                                            <div class="percentagem" style="width: 85%;"></div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

          <!--      <div id="circle" class="col-sm-12 col-md-6">
                    <div class="mh-professional-skills">
                        <h3>Professional Skills</h3>
                        <ul class="mh-professional-progress">
                            <li>
                                <div class="mh-progress mh-progress-circle" data-progress="95"></div>
                                <div class="pr-skill-name">Comunication</div>
                            </li>

                            <li>
                                <div class="mh-progress mh-progress-circle" data-progress="55"></div>
                                <div class="pr-skill-name">Seryous</div>
                            </li>

                            <li>
                                <div class="mh-progress mh-progress-circle" data-progress="81"></div>
                                <div class="pr-skill-name">Seriosily</div>
                            </li>

                            <li>
                                <div class="mh-progress mh-progress-circle" data-progress="99"></div>
                                <div class="pr-skill-name">Creativity</div>
                            </li>
                        </ul>
                    </div>
                </div>

            -->
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/node_modules/jquery-circle-progress/dist/circle-progress.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="jquery-circle-progress/dist/circle-progress.js"></script>
<script>
    $('#circle').circleProgress({
      value: 0.75,
      size: 80,
      fill: {
        gradient: ["red", "orange"]
      }
    });
  </script>
</body>
</html>